.rodape p {
  margin-top: 40px;
  padding: 30px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  font-size: 1.125rem;
}

@media (max-width:400px) {
  .rodape p {
    font-size: .875rem;
  }
}